<!DOCTYPE html>
<html lang="en">
<head>

	<%- np_head %>
	 
	<link defer rel="stylesheet" href="<%- theme_url %>/css/styles.css"> 

	<script defer src="<%- theme_url %>/js/comments.js" type="text/javascript"></script>
	

	<script type="text/javascript">
	$(document).ready(function()
	{
		$.each($(".np_widget_footer"), function(i1, v1) 
		{
			var np_widget_categories = $(this).find('.np_widget_categories').addClass("col-md-3");
			var np_widget_top_posts = $(this).find('.np_widget_top_posts').addClass("col-md-3");
			var np_widget_search = $(this).find('.np_widget_search').addClass("col-md-3");  
		})

		 
		var ele = $(document).find(".np_widget_footer").find('.col-md-3');

		$(document).find(".np_widget_footer").html(ele);
		 
		 
	})
	</script>	


</head> 




<body>


	<nav class="navbar navbar-fixed-top" role="navigation" style='max-width : 800px; margin : 0 auto;background-color: #DAE3E6'>
		<div class="container" style='max-width : 800px; margin : 0 auto;'>
		    <div class="navbar-header" style="padding:2px;">
		        <button type="button " class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		            <span class="sr-only ">Toggle navigation</span>
		            <span class="icon-bar btn-success"></span>
		            <span class="icon-bar btn-success"></span>
		            <span class="icon-bar btn-success"></span>
		        </button>
		        <a href="<%- site_url %>" class="btn navbar-btn  btn-success" style="text-align:left; ">
		            <i class="fa fa-chevron-left "></i>
		            <%- blog_name %> 
		            /<i class="fa fa-chevron-right "></i>
		        </a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right text-uppercase">
		           <%- active_menu %> 
		        </ul>
		    </div>

		</div>
	</nav>

    <div style=' padding:30px'></div>


	<div class="ScreenData"  style='max-width : 800px; margin : 0 auto; border: 1px dotted #CCC;padding : 20px;background : #FFF; border-radius: 12px;'>	
