<%- include header %>

<div class="container">

<!--[Load Body Content - Start]-->
	<div class="row">
	 	<div style="padding:15px;"></div>

		<div class="col-md-9">

			<div class="panel panel-default panel-body">
				 <%- include posts %> 
			</div>

			<%- include pagination %> 

			<div class="container"> <%- footer_content %> </div>


		</div>

		
		<div class="col-md-3  " style="padding:5px">
			
			<%- sidebar_content %>
			 

		</div>

		

	</div>
<!--[Load Body Content - End]-->

 

</div>

</body>

</html>