<%- include header %>


<div class="container">

	<div style="padding:5px;"></div>
	<div class="col-md-9">
		<!--[Load Single Post Content - Start]-->

		<div class="row-fluid panel panel-default panel-body">

		
		<%  if(post_content) { %>
		<!--[Post Has Content - Start]-->

				<!--[Post Name/URL- Start]-->

				<h1>
					<a href="<%- post_url %>"  class="hlink"> <%- post_title %></a>
				</h1>
				<!--[Post Name/URL- End]-->
			 
				
				<br><br>
				<div class="np_post_content"  > 
					<%- post_content %> 
				 
				</div> 
				<div style="padding:15px;" class="container-fluid"> 
							<div class="post_pre  text-left col-sm-6"> </div>
							<div class="post_next text-right col-sm-6"> </div>
						</div>
						
						<div  class="related_posts" style="padding:15px;"></div>

	 
				  

			 	<br><br>
				<%- include comments %>
			
		<!--[Post Has Content - End]-->

		
		<% }else { %>

		<!--[Post Has No Content - Start]-->

			<div>No blog post content found...</div>
		<!--[Post Has No Content - End]-->	
		<% } %>
		



		<br><br>
		 
		</div>
		<!--[Load Single Post Content - End]-->
	</div>

	<div class="col-md-3 sidebar-1">

	<%- sidebar_content %>


	</div>

</div>

<%- include footer %> 